div{
    padding-top: 6px;
}

form{
    border-color:lightgray;
    border-width:1px;
    border-style: solid;
    width:40%;
}

label{
    font-weight:bold;
    font-family: tahoma;
    text-align: right;
    font-size: 12px;
    width:100px;
    display:block;
    float:left;
    padding:5px;
}

.input,.submit{
    border-color:lightgray;
    border-width:1px;
    border-style:solid;
}

.submit{
    margin:5px;
    margin-left:50px;
}


.flexbox-radio{
    width: 50%;
    display: flex;
    flex-direction: column;
}